.fish-container {
  padding: 15px 15px 0px 15px;
}

.fish {
    box-shadow: var(--shadow);
    background: var(--white);
    border-radius: 25px;
    padding: 15px;
    height: 100%;

    .fish-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      padding: 2px;
    }

    .fish-phrase {
      font-size: 32px;
      color: var(--nav-dark);
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -1px;
      padding: 4px;
    }

    .fish-prono {
      padding: 2px;
      font-size: 14px;
      color: var(--small);
    }

    .fish-trans {
      padding: 4px;
      font-size: 18px;
      color: var(--text);
    }

    .fish-tags {
        font-size: 12px;
        font-weight: 700;
        padding-top: 12px;

        .fish-tags-inner {
            display: flex;
            justify-content: center;
            
            .fish-tag {
                background: var(--nav);
                color: var(--white);
                border-radius: 25px;
                padding: 4px 8px;
                margin: 2px;
            }
        }
    }

    .fish-empty {
      padding: 4px;

      .fish-emtpty-header {
        display: block;
        font-size: 22px;
        color: var(--nav-dark);
        padding-bottom: 6px;
        font-weight: 600;
        letter-spacing: -1px;
      }

      .fish-emtpty-text {
        display: block;
        font-size: 14px;
        color: var(--small);
        padding-bottom: 2px;
        font-weight: 300;
      }
    }
}