
.view.home {
  max-width: 800px;
  margin: auto;

  .home-quote {
    width: 100%;
  }

  @media (min-width: 600px) {
    .home-all {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
    }

    .fish-container {
      width: 50%;
      padding: 10px;
    }
  }
}

.quote {
  margin: 30px 30px 0;
  opacity: 0;

  &.quote-ready {
    transition: 0.6s opacity;
    opacity: 1;
  }

  .quote-text {
    font-size: 24px;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
    max-width: 280px;
    margin: auto;
    color: var(--main-dark);
    opacity: 0.66;
  }

  .quote-author {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    max-width: 250px;
    margin: auto;
    opacity: 0.33;
  }

  .quote-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 10px;

    .dot {
      font-size: 0;
      background: var(--main-dark);
      border-radius: 100px;
      margin: 8px;

      &.lg {
        height: 22px;
        width: 22px;
        opacity: 0.3;
      }

      &.md {
        height: 18px;
        width: 18px;
        opacity: 0.2;
      }

      &.sm {
        height: 14px;
        width: 14px;
        opacity: 0.1;
      }
    }
  }
}